{% extends 'ksghome/base.html'%}

{% block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item {% if '/accounts/' == request.path%}active {% endif%}" href="{% url 'dashboard'%}"> Dashboard </a>
                <a class="list-group-item {% if '/posts/' in request.path%}active {% endif%}" href="{% url 'posts'%}"> Posts </a>
                <a class="list-group-item {% if '/edit_profile' in request.path%}active {% endif%}" href="{% url 'edit_profile'%}"> Edit Profile </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{% url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
                
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Logged in as:</strong>
                    <span> {{ user.full_name}}</span>
                </header>
                <div class="card-body">
                    <div class="text-end">
                        <img src="{{ userprofile.profile_picture.url}}" width="50"  height="50" style="border-radius:50%" alt="Profile Picture">
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{% url 'edit_profile'%}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token%}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="">First Name</label>
                                            {{ user_form.first_name}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">Last Name</label>
                                            {{ user_form.last_name}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">Phone Number</label>
                                            {{ user_form.phone_number}}
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">Profile Picture</label>
                                            {{ profile_form.profile_picture}}
                                        </div>
                                        <div class="form">
                                            <label for="">Address line 1</label>
                                            {{ profile_form.address_line_1}} 
                                        </div>
                                        <div class="form">
                                            <label for="">Address line 2</label>
                                            {{ profile_form.address_line_2}} 
                                        </div>
                                        <div class="col-md-4">
                                            <label for="">City</label>
                                            {{ profile_form.city}} 
                                        </div>
                                        <div class="col-md-4">
                                            <label for="">County</label>
                                            {{ profile_form.county}} 
                                        </div>
                                        <div class="col-md-4">
                                            <label for="">Country</label>
                                            {{ profile_form.country}} 
                                        </div> 
                                    </div>
                                    <input type="submit" value="save" class="btn btn-primary mt-2">
                                </form>
                            </div>
                        </div> <!-- row.// -->
                    </div>
                </div>
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock%}