{% extends 'ksghome/base.html'%}

{% block content%}
<div class="post_detail">
	<div>
		<a href="#"><img class="detail-img" src="{{ single_post.images.url}}"></a>
		<h2 class="title">{{ single_post.topic}}</h2>
		<h2 class="price h4">{{ single_post.sub_topic}}</h2> 
		<div class="card border-light description mb-3">
		<p class="description">{{ single_post.body|safe}}</p>
	</div>
</div>


<div class="row">
	<div class="col-md-9">
		<form action="{% url 'submit_review' single_post.id%}" method="POST">
			{% csrf_token%}
			<h5>Write your review</h5>	
			<div>
				<label for="">How do you rate this article</label> <br>
				<div class="rate">
					<input type="radio" name="rating" id="rating10" value="5" required> <label for="rating10" title="5"></label>
					<input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
					<input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
					<input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
					<input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
					<input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
					<input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
					<input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
					<input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
					<input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
				</div> <br>
				Review Title:
				<input type="text" class="form-control" name="subject"> <br>
				Review:
				<textarea name="review" class="form-control" id="" rows="4"></textarea> <br>
				{% if user.is_authenticated%}
				<input type="submit" class="btn btn-primary" value="Submit Review">
				{% else%}
				<p>You must be logged in to post a review. <span> <a href="{% url 'login'%}">Login now</a> </span> </p>
				{% endif%}
			</div>
			{% include 'ksghome/includes/alerts.html'%}
		</form><br>

		<header class="section-heading">
			<h3>Customer Reviews </h3>  
		</header>
        {% for review in reviews%}
		<article class="box mb-3">
			<div class="icontext w-100">
				<img src="" class="img-xs icon rounded-circle">
				<div class="text">
					<span>
						<strong>{{ review.user.full_name}}</strong>  {{ review.modified_at|timesince}} ago.
					</span> 
					<div class="rating-star">
						<span>
						 <i class="fa fa-solid fa-star{% if review.rating == 0.5%}-half{% elif review.rating < 1%}-o {% endif%}"></i>
						 <i class="fa fa-solid fa-star{% if review.rating == 1.5%}-half{% elif review.rating < 2%}-o {% endif%}"></i>
						 <i class="fa fa-solid fa-star{% if review.rating == 2.5%}-half{% elif review.rating < 3%}-o {% endif%}"></i>
						 <i class="fa fa-solid fa-star{% if review.rating == 3.5%}-half{% elif review.rating < 4%}-o {% endif%}"></i>
						 <i class="fa fa-solid fa-star{% if review.rating == 4.5%}-half{% elif review.rating < 5%}-o {% endif%}"></i>
						</span>
					</div>
				</div>
			</div> <!-- icontext.// -->
			<div class="mt-3">
				<h6>{{ review.subject}}</h6>
				<p>
				{{ review.review}}
				</p>	
			</div>
		</article>
		
	</div> <!-- col.// -->
	{% endfor%}
{% endblock%}