<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand btn" href="{% url 'home'%}">Home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown me-2">
        <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bars"></i> All category 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'posts'%}">All Posts</a></li>
          {% for category in links%}
          <li><a class="dropdown-item" href="{{ category.get_url}}">{{ category.category_name}}</a></li>
          {% endfor%}
        </ul>
      </li>
    </li>
    <li class="nav-item me-2">
      <a class="nav-link btn" aria-current="page" href="{% url 'posts'%}">All Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" aria-current="page" href="#">About</a>
    </li>
    </ul>
    <form action="{% url 'search'%}" class="d-flex me-2" role="search" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% if user.id is None%}
    <div class="widget-header">
      <small class="title text-muted">Welcome guest!</small>
      <div> 
        <a href="{% url 'login'%}">Sign in</a> <span class="dark-transp"> | </span>
        <a href="{% url 'register'%}"> Register</a>
      </div> 
    {% else%}
    <div class="widget-header">
      <small class="title text-muted">Welcome {{ user.first_name}}</small>
      <div> 
        <a href="{% url 'dashboard'%}">Dashboard</a> <span class="dark-transp"> | </span>
        <a href="{% url 'logout'%}"> Logout</a>
      </div> 
    {% endif%}
    </div>
  </div>
</nav>
 
